* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #ffffff;
  min-height: 100%; min-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}


/* Header */

#header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(images/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  border-bottom: 2px solid #ffd700;

  font-size: 2em;
  height: 100vh;
}

/* Main e section */



#section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Divs (creatures) */

.creatures {
  width: 500px;

  padding: 2em;
  margin: 3em;
  border-radius: 10px;

  background-color: #e6e6e6;
  transition: 0.5s;
}

.creatures:hover {
  scale: 1.05;
}

/* Divs (button) */

.button {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

/* Divs (result) */

#result, #result1, #result2, #result3{
  border-radius: 10px;
}

/* button (extra) */

#extra, #extra1, #extra2, #extra3 {
  padding: 10px;
  border: transparent;
  background-color: #cfcfcf;
  border-radius: 10px;
  width: auto;

  font-size: 1em;
  transition: 0.5s;
}

#extra:hover, #extra1:hover, #extra2:hover, #extra3:hover {
  background-color: #8ae4ff;
}

#extra:active, #extra1:active, #extra2:active, #extra3:active {
  scale: 1.2;
}

/* Divs img */

#kraken-img {
  height: 200px;
  width: 100%;

  background-image: url(images/kraken.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;

  margin-bottom: 2em;
}

#umibozu-img {
  height: 200px;
  width: 100%;

  background-image: url(images/umibozu.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;

  margin-bottom: 2em;
}

#leviathan-img {
  height: 200px;
  width: 100%;

  background-image: url(images/leviathan.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;

  margin-bottom: 2em;
}

#jormungandr-img {
  height: 200px;
  width: 100%;

  background-image: url(images/jormungandr.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;

  margin-bottom: 2em;
}


/* Media Querie */

@media (max-width: 600px) {
  #header {
    background-position: center;
    height: 50vh;
    font-size: 1em;
  }

  .creatures {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }

  img {
    width: 100%;
    height: auto;
  }
}
